@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Продукция</h1>


<table class="table">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Stars</td>
        <td>Price</td>
        <td>IsHit</td>
        <td>Status</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description.Substring(0,25) ...</td>
            <td>@item.Stars</td>
            <td>@item.Price</td>
            <td>@item.IsHit</td>
            <td>@item.Status</td>
        </tr>
    }


</table>
