@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<table class="table">
    <thead>
        <tr>
            <th>Время доставки</th>
            <th>Адрес доставки</th>
            <th>Сумма</th>
            <th>Статус</th>
        </tr>
    </thead>
    @foreach (var date in Model)
    {
        @if (date.Date == DateTime.Now.ToString("dd-MM-yyyy"))
        {
            <tr style="background-color: rgb(255, 237, 173)">
                <td colspan="4"><h5>@date.Date (Сегодня)</h5></td>
            </tr>
        }
        else
        {
            <tr class="bg-light">
                <td colspan="4"><h5>@date.Date</h5></td>
            </tr>
        }

        foreach (var order in date.OrderHdrs)
        {
            <tr>
                <td class="text-center">@order.DeliveryDateTime.ToString("HH:mm")</td>
                <td>@order.Address</td>
                <td>@string.Format("{0:0.00}", order.Sum)</td>
                <td>@order.Status.GetDescription()</td>
            </tr>
        }
    }

</table>

