
@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Заказы";
}




<h1>Заказы</h1>
@if (ViewBag.AllOrders)
{
    <a asp-action="Index" asp-route-all="true">Показать все заказы</a>
}
else
{
    <a asp-action="Index" asp-route-all="false">Показать заказы за сегодня</a>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Время доставки</th>
            <th>Имя клиента</th>
            <th>Адрес доставки</th>
            <th>Сумма</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var date in Model)
        {
            @if (date.Date == DateTime.Now.ToString("dd-MM-yyyy"))
            {
                <tr style="background-color: rgb(255, 237, 173)">
                    <td colspan="6"><h5>@date.Date (Сегодня)</h5></td>
                </tr>
            }
            else
            {
                <tr class="bg-light">
                    <td colspan="6"><h5>@date.Date</h5></td>
                </tr>
            }

            foreach (var order in date.OrderHdrs)
            {
    <tr data-href="@order.Id" id="Order_@order.Id">
        <td class="text-center">@order.DeliveryDateTime.ToString("HH:mm")</td>
        <td>@order.ClientName</td>
        <td>@order.Address</td>
        <td>@string.Format("{0:0.00}", order.Sum)</td>


        @switch (order.Status)
        {
            case OrderHdrStatus.Requested:
                <td><button class="btn btn-light"><span class="icon-cart"></span></button></td>
                break;
            case OrderHdrStatus.InProgress:
                <td><button class="btn btn-dark"><span class="icon-hour-glass"></span></button></td>
                break;
            case OrderHdrStatus.Done:
                <td><button class="btn btn-info"><span class="icon-gift"></span></button></td>
                break;
            case OrderHdrStatus.Delivery:
                <td><button class="btn btn-warning"><span class="icon-truck"></span></button></td>
                break;
            case OrderHdrStatus.Rejected:
                <td><button class="btn btn-danger"><span class="icon-bin"></span></button></td>
                break;
            case OrderHdrStatus.Closed:
                <td><button class="btn btn-success"><span class="icon-checkmark"></span></button></td>
                break;

        }
    </tr>
            }
        }
    </tbody>

</table>


<div class="modal fade" id="OrderInfo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Список продуктов</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="OrderInfoBody"></div>
            <div class="modal-footer">
                <button class="btn btn-danger mr-auto" id="CancelOrder" onclick="CancelOrder()">Отменить</button>
                <button class="btn btn-light" id="btnPrint" onclick="PrintInvoice()"><span class="icon-printer"></span></button>
                <button class="btn btn-info" data-orderhdr="" id="OrderHdrStatus" onclick="ChangeOrderHdrStatus(this)">Заказ Набран</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{

    <script>
    $(document).ready(function () {
        $('*[data-href]').on('click', function (event) {
            event.preventDefault();

            const Id = this.getAttribute("data-href");
             $.ajax({
                type: "GET",
                url: '@Url.Action("Info")/'+Id,
                dataType: "json",
                 success: function (data) {
                    let tbl = "";
                    $.each(data, function (key, value) {
                        tbl += '<tr>';
                        tbl += '<td>' + value.name + '</td>';
                        tbl += '<td>' + value.qty + '</td>';
                        let classStatus = 'text-danger icon-minus';
                        if (value.status == 0) {
                            classStatus = 'text-danger icon-minus';
                        }
                        else if (value.status == 1) {
                            classStatus = 'text-success icon-plus';
                        }

                        tbl += "<td><span class='" + classStatus + "' id='product" + value.id + "' onClick='ChangeOrderDtlSatus(" + value.id + ", " + Id + ")'></td>";

                        tbl += '</tr>';
                    })

                    let table = "<table class='table'><thead><tr><th>Наименование</th><th>Количество</th><th>Статус</th></tr></thead><tbody>"+tbl+"</tbody></table> ";

                    $("#OrderInfoBody").html(table);
                     $("#OrderHdrStatus").attr("data-orderhdr", Id);

                    $('#OrderInfo').modal('show');
                }
             });



        });
    });

        function ChangeOrderDtlSatus(id, hdrId) {
            let obj = $("#product" + id);

            let element = $("#Order_" + hdrId).children("td").children("button");
            console.log(element);
            element.removeClass().addClass("btn btn-dark");
            element.children("span").removeClass().addClass("icon-hour-glass");

                $.ajax({
                    method: "POST",
                    url: "@Url.Action("ChangeOrderDtlSatus", "Order")",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(id),
                    dataType: "json",
                    success: function (result) {



                        if (result == 0) {
                            obj.removeClass("icon-plus");
                            obj.removeClass("text-success");
                            obj.addClass("icon-minus");
                            obj.addClass("text-danger");
                        }
                        else if (result == 1){
                            obj.removeClass("icon-minus");
                            obj.removeClass("text-danger");
                            obj.addClass("icon-plus");
                            obj.addClass("text-success");
                        }
                    }
                });
        }

        function ChangeOrderHdrStatus(val) {
            const Id = val.getAttribute("data-orderhdr");

            $.ajax({
                method: "POST",
                url: "@Url.Action("ChangeOrderHdrStatus", "Order")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: Id,
                success: function () {
                    let element = $("#Order_" + Id).children("td").children("button");
                    element.removeClass().addClass("btn btn-info");
                    element.children("span").removeClass().addClass("icon-gift");
                    $('#OrderInfo').modal('hide');
                    //$('#btnPrint').prop('disabled', false);
                    PrintInvoice();
                }

            });

        }

        function CancelOrder() {
            var Id = $("#OrderHdrStatus").attr('data-orderhdr');

                $.ajax({
                method: "POST",
                url: "@Url.Action("CancelOrder", "Order")",
                dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: Id,
                success: function () {
                    let element = $("#Order_" + Id).children("td").children("button");
                    element.removeClass().addClass("btn btn-danger");
                    element.children("span").removeClass().addClass("icon-bin");
                    $('#OrderInfo').modal('hide');

                }

            });

        }


        function PrintInvoice() {

            var Id = $("#OrderHdrStatus").attr('data-orderhdr');

            $.ajax({
                method: "GET",
                url: "@Url.ActionLink("PrintInvoce", "Order")/" + Id,
                contentType: "application/html; charset=utf-8",
                success: function (data) {

                    var w = window.open('', 'Print Invoce', 'height=600,width=800');
                    w.document.write(data);
                    w.document.close();
                    setTimeout(function () {
                        w.print();
                    }, 500);
                }
            });
        }

    </script>

}